# Though this is not used in this example, using a .env file is a good way to protect sensitive settings (like your bot's token!), you can use this through python-dotenv https://pypi.org/project/python-dotenv/
BOT_TOKEN=REPLACE_THIS_WITH_YOUR_TOKEN